<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3406447811E7DE4200033B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3433A8D00E2AADDE00A02B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343C16BA13194433003637EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343C16CC13194490003637EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345AAD0711CB3710002B4471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>346E3BB80E28637A00E6C79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34A18BA60E284044001C79A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34A18C500E284362001C79A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34D34E200E2C376A0053994C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34D6B4B511CC3CCA00D72FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34EECBDB11CB922100667B26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
